@model GymStudio.Models.Exercitiu

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exercitiu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Denumire)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dificultate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dificultate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumarRepetari)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumarRepetari)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ExercitiuID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
