@model IEnumerable<GymStudio.Models.Exercitiu>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Denumire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dificultate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumarRepetari)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Denumire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dificultate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumarRepetari)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ExercitiuID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ExercitiuID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ExercitiuID">Delete</a>
        </td>
    </tr>
}
</table>
